.button-del {
    width: 130px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .button-del, .button-del span {
    transition: 200ms;
   }
   
   .button-del .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .button-del .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(90px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .button-del svg {
    width: 15px;
    fill: #eee;
   }
   
   .button-del:hover {
    background: #ff3636;
   }
   
   .button-del:hover .text {
    color: transparent;
   }
   
   .button-del:hover .icon {
    width: 130px;
    border-left: none;
    transform: translateX(0);
   }
   
   .button-del:focus {
    outline: none;
   }
   
   .button-del:active .icon svg {
    transform: scale(0.8);
   }

   .Modal{
    width: 300px;
    border: 1px solid red;
   }
   .modalfooter{
    display: flex;
    justify-content: start;
    width: 200px;
    border: 1px solid yellow;
   }



   .Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    color: transparent;
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }

  .BTNS-ADMIN{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }